<link rel="stylesheet" href="/styles.css">

<h1>Edit</h1>

<p>Logged in as: {{username}}</p>
<a href="/logout">Logout</a>

<form method="POST" action="/employee/{{employee._id}}/edit" enctype="multipart/form-data">
  <label>Name:</label>
  <input name="name" value="{{employee.name}}">
  <br>

  <label>Phone:</label>
  <input name="phone" value="{{employee.phone}}">
  <br>

  <label>Photo:</label>
  <input type="file" name="photo" accept="image/*">
  <br>

  <button type="submit">Save</button>
</form>