<link rel="stylesheet" href="/styles.css">

<h1>List of Employees</h1>

{{#if msg}}
  <p>{{msg}}</p>
{{/if}}

<ul>
  {{#each employees}}
    <li>
      <a href="/employee/{{this.employeeId}}">{{this.name}}</a>
    </li>
  {{/each}}
</ul>
